<nav class="navbar container">
    <form class="form-inline">
        <button routerLink="/accueil" routerLinkActive="active-link" class="btn btn-lg btn-outline-warning"
                type="button">Accueil</button>
        <button routerLink="/gallerie" routerLinkActive="active-link" class="btn btn-lg btn-outline-warning"
                type="button">Galerie</button>
        <button routerLink="/a-propos" routerLinkActive="active-link" class="btn btn-lg btn-outline-warning"
                type="button">A propos</button>
        <button class="btn btn-lg btn-outline-info" (click)="seDeconnecter()" type="button">Se déconnecter</button>
    </form>
</nav>
