<h3 class="p-3">Création d'un collègue</h3>

<form #formCreationCollegue="ngForm">
    <div class="form-group text-left">
        <div class="row">
            <label class="col-sm-4" for="nom">Nom</label>
            <div class="col-sm-8">
                <input class="w-100 text-dark" #nom="ngModel" [(ngModel)]="collegue.nom" [ngModelOptions]="{updateOn:
                'blur'}"
                       id="nom" name="nom" required placeholder="Holliway">
                <p class="text-danger" *ngIf="nom.dirty && nom.invalid">{{champsInvalideMsg}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4" for="prenoms">Prénoms</label>
            <div class="col-sm-8">
                <input class="w-100 text-dark" #prenoms="ngModel" [(ngModel)]="collegue.prenoms" [ngModelOptions]="{updateOn:
                'blur'}"
                       id="prenoms" name="prenoms" required placeholder="Louis">
                <p class="text-danger" *ngIf="prenoms.dirty && prenoms.invalid">{{champsInvalideMsg}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4" for="dateDeNaissance">Date de naissance</label>
            <div class="col-sm-8">
                <input (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" class="w-100 text-dark"
                       #dateDeNaissance="ngModel" [minDate]="{year: 1940, month: 1, day: 1}"
                       [(ngModel)]="collegue.dateDeNaissance"
                       [maxDate]="{year: 2001, month: 12, day: 31}"
                       [ngModelOptions]="{updateOn: 'blur'}"
                       id="dateDeNaissance" name="dateDeNaissance" required readonly>
                <p class="text-danger"
                   *ngIf="dateDeNaissance.dirty && dateDeNaissance.invalid">{{champsInvalideMsg}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4" for="email">Email</label>
            <div class="col-sm-8">
                <input class="w-100 text-dark" #email="ngModel" [(ngModel)]="collegue.email"
                       [ngModelOptions]="{updateOn: 'blur'}"
                       id="email" name="email" required minlength="7" placeholder="louis@mail.com">
                <p class="text-danger" *ngIf="email.dirty && email.invalid">{{champsInvalideMsg}}</p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4" for="photoUrl">Photo URL (au moins 7 caractères)</label>
            <div class="col-sm-8">
                <input class="w-100 text-dark" #urlPhoto="ngModel" [(ngModel)]="collegue.photoUrl"
                       [ngModelOptions]="{updateOn: 'blur'}"
                       id="photoUrl" name="photoUrl" required minlength="7" placeholder="http://...">
                <p class="text-danger" *ngIf="urlPhoto.dirty && urlPhoto.invalid">{{champsInvalideMsg}}</p>
            </div>
        </div>
    </div>
    <button (click)="creerCollegue(formCreationCollegue)" type="submit" [disabled]="!formCreationCollegue.valid"
            class="btn btn-warning float-right">Créer
    </button>
    <p class="text-danger" *ngIf="erreurCreerCollegueReqMsg">{{erreurCreerCollegueReqMsg}}</p>
</form>
