<div class="container card bg-dark text-warning mt-5" style="max-width: 40rem;">
    <div class="card-header">
        <h3 class="card-title">Authentification</h3>
    </div>
    <div class="card-body">
        <form>
            <p *ngIf="!isAuthentifier" class="text-danger p-2 font-weight-bold text-center">
                {{erreurAuthentifier}}
            </p>
            <div class="form-group">
                <input #identifiant type="text" class="form-control" placeholder="identifiant (u1)">
            </div>
            <div class="form-group">
                <input #motDePasse
                       type="password"
                       class="form-control"
                       placeholder="mot de passe (pass1)"
                       (keyup.enter)="authentifier(identifiant.value, motDePasse.value)">
            </div>
            <button (click)="authentifier(identifiant.value, motDePasse.value)"
                    type="button"
                    class="btn btn-warning">Envoyer
            </button>
        </form>
    </div>
</div>
