<div class="row">
    <div class="col-3">
        <p>Recherche par nom</p>
    </div>
    <div class="col-6">
        <input type="text" class="form-control" placeholder="durand" #inputRechercheNom>
    </div>
    <div class="col-3">
        <button (click)="rechercherClick(inputRechercheNom.value)" class="btn btn-warning">
            Rechercher
        </button>
    </div>
</div>
<div>
    <div *ngIf="isMatriculesHidden===false">
        <p class="text-danger p-3" *ngIf="erreurRechercheMatricule">{{erreurRechercheMatricule}}</p>
        <ng-container *ngIf="matricules && matricules.length>0">
        <ng-container *ngFor="let matricule of matricules">
            <a href="#" class="d-block text-warning p-1"
                (click)="recupererCollegue(matricule)">{{matricule |
                uppercase}}
            </a>
        </ng-container>
        </ng-container>
    </div>
    <div class="text-danger" *ngIf="erreurRecupererMatricule">
        {{erreurRecupererMatricule}}
    </div>
</div>
